.container {
  margin-top: 0;
  box-sizing: border-box;
  padding: 0 134px 126px 181px;
}

.form {
  background-color:  #FFF;
  border: 1px solid #CFCFCF;
  padding: 40px 60px 30px;
  max-width: 1125px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  margin-top: 50px;
  margin-bottom: 30px;
  max-width: 1240px;
  padding-left: 5px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}


.cancel-create-buttons {
  margin-top: 60px;
  text-align: right;
  display: flex;
  justify-content: right;
}


.cancel-create-buttons :first-child {
  width: 177px;
  text-align: center;
  
}

app-button ::ng-deep button {
  flex: 1;
}

app-button {
  margin-left: 20px;
  display: flex;
}

.error {
  color: blue;
}
