<header>
  <img class="logo" src="../assets/logo.svg" alt="logo" routerLink="/" (click)="onLogoClicked()">
  <app-header>
    <ng-container *ngIf="isCredentialsPageActive()">

      <ng-container *ngIf="(userName$ | async); else logoutBtn">
        <span class="user-name">{{ userName$ | async }}</span>
        <app-button [buttonText]="'LOGOUT'" (click)="onLogoutButtonClicked()"></app-button>
      </ng-container>

    </ng-container>
  </app-header>
</header>

<router-outlet></router-outlet>


<ng-template #logoutBtn>
  <app-button [buttonText]="'LOGIN'" routerLink="/login"></app-button>
</ng-template>