.logo {
  margin-right: auto;
  cursor: pointer;
}

.user-name {
  color: black;
  margin-right: 26px;
}

.container {
  margin: 30px 30px;
  padding: 0;
}

.add-course-btn {
  margin-top: 40px;
  text-align: center;
}