body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #E5E5E5;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

input, textarea {
  box-sizing: border-box;

  margin-right: 20px;
  border-radius: 4px;
  
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #CFCFCF;
  flex-grow: 1;
}
